/************************************/
/********** [ NAVIGATION ] **********/
/************************************/
/* .upper-row .circle[data-v-0b8ed1aa] {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  height: 100vw;
  background-color: #f3eee8;
  border-radius: 50%;
} */
body {
  background-color: #f3eee8;
  margin: 0;
  padding: 0;
}
/* .welcome-part .circle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  height: 100vw;
  background-color: #f8c1ca;
  border-radius: 50%;
} */

/* .warper {
  width: 100%;
  height: 50vw;
  background-color: #ffe699;
  position: absolute;
  top: 50vw;
} */

@font-face {
  font-family: Sahel;
  src: url("../font/Sahel.eot");
  src: url("../font/Sahel.eot?#iefix") format("embedded-opentype"),
    url("../font/Sahel.woff2") format("woff2"),
    url("../font/Sahel.woff") format("woff"),
    url("../font/Sahel.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url("../font/Sahel-Bold.eot");
  src: url("../font/Sahel-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Sahel-Bold.woff2") format("woff2"),
    url("../font/Sahel-Bold.woff") format("woff"),
    url("../font/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url("../font/Sahel-Light.eot");
  src: url("../font/Sahel-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/Sahel-Light.woff2") format("woff2"),
    url("../font/Sahel-Light.woff") format("woff"),
    url("../font/Sahel-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Sahel;
  src: url("../font/Sahel-SemiBold.eot");
  src: url("../font/Sahel-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Sahel-SemiBold.woff2") format("woff2"),
    url("../font/Sahel-SemiBold.woff") format("woff"),
    url("../font/Sahel-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

/************************************/
/********** [ NAVIGATION ] **********/
/************************************/
.navigation {
  background-color: red;
  width: 100%;
}

/**************************************/
/********** [ WELCOME PART ] **********/
/**************************************/
.welcome-part {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  height: 100vw;
  background-color: #ffe699;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 200px;
}
.hafezie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hafezie svg {
  width: 800px;
  margin-top: -100px;
}
#hafezie_1_:hover {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));
}
.welcome-part h2 {
  display: block;
  text-align: center;
  direction: rtl;
  font-family: Sahel, open sans, Tahoma, helvetica, arial, sans-serif;
  font-size: 100px;
  word-spacing: -15px;
  font-weight: bold;
  margin-top: 80px;
  opacity: 0;
}
.welcome-part small {
  display: block;
  text-align: center;
  direction: rtl;
  font-family: Sahel, open sans, Tahoma, helvetica, arial, sans-serif;
  font-size: 40px;
  margin-top: -20px;
  font-style: italic;
  font-weight: lighter;
}
