/************************************/
/********** [ NAVIGATION ] **********/
/************************************/
/* .upper-row .circle[data-v-0b8ed1aa] {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  height: 100vw;
  background-color: #f3eee8;
  border-radius: 50%;
} */
body {
  direction: rtl;
  background-color: #f3eee8;
  margin: 0;
  padding: 0;
}
/* .welcome-part .circle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  height: 100vw;
  background-color: #f8c1ca;
  border-radius: 50%;
} */

/* .warper {
  width: 100%;
  height: 50vw;
  background-color: #ffe699;
  position: absolute;
  top: 50vw;
} */
.container {
  width: 1200px;
  margin: auto;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.party {
  margin: 64px 0;
}
@font-face {
  font-family: Nahid;
  src: url("../font/Nahid-FD.eot");
  src: url("../font/Nahid-FD.eot?#iefix") format("embedded-opentype"),
    url("../font/Nahid-FD.woff2") format("woff2"),
    url("../font/Nahid-FD.woff") format("woff"),
    url("../font/Nahid-FD.ttf") format("truetype");
  font-weight: normal;
}
/************************************/
/********** [ NAVIGATION ] **********/
/************************************/
.navigation {
  background-color: red;
  width: 100%;
}
.scrolling-slider {
  scroll-snap-type: y mandatory;
}
.scrolling-slider aside {
  scroll-snap-align: center;
}
/**************************************/
/********** [ WELCOME PART ] **********/
/**************************************/
.welcome-part {
  position: relative;
  width: 100%;
  height: 100vw;
  margin-top: 200px;
  background-color: #ffe699;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.hafezie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hafezie svg {
  width: 800px;
  margin-top: -100px;
}
#hafezie_1_:hover {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.3));
}
.welcome-part h2 {
  font-family: Nahid, open sans, Tahoma, helvetica, arial, sans-serif;
  font-weight: bolder;
  font-size: 6vw;
  word-spacing: -10px;
  margin: 0;
  padding: 0;
}
.welcome-part h2::before,
.welcome-part h2::after {
  content: '"';
  font-style: italic;
}

.welcome-part span {
  font-family: Nahid, open sans, Tahoma, helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2vw;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media only screen and (max-width: 961px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 721px) {
  .container {
    width: 480px;
  }
}
@media only screen and (max-width: 481px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 301px) {
}
/******************************************/
/********** [ ADAB HAFEZ KHANI ] **********/
/******************************************/
.introduction-part {
  content: "";
  position: relative;
  width: 100%;
  height: 100vw;
  background-color: #ffffff;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: -50%;
}
